body{
    color: rgb(255, 255, 255);
    background-color: black;
}

h1{color: rgb(212, 3, 3);

}

ul{
    font-display: flex;
    justify-content: space-between;

}

img src{
 height: 400px;
 width: 500px;
}

.g1{ 
    text-align: center;
  }