body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
}
header {
  background-color: #6b02026c;
  color: #ffffff;
  padding: 30px;
  text-align: center;
  background-image: url('https://i.postimg.cc/zfbNxZ9p/batman.jpg');
  background-position: center; /
  background-repeat:no-repeat; 
  background-size: cover; 
}
div button  {
  align-items: right;
}

nav {
  background-color: #444;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
main {
  padding: 20px;
}
h2 {
  color: #eb0000;
}
p {
  color: #757575;
}
footer {
  background-color: #333;
  color: #ac1919;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recommendation {
  flex: 0 1 calc(50% - 10px); 
  margin-bottom: 20px;
}
.recommendation img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.recommendation .text {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .recommendation {
    flex: 0 1 100%; 
  }
}

body {
  background-image: url('https://i.postimg.cc/YSr5P4hp/6a8ea07b-58b4-4b87-b58b-09bd85b6a2bb.jpg'); 
  background-size: cover; 
  background-position: center; /
  background-repeat: no-repeat; /
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
}

img {
  width: 100%; 
  height: auto; 
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px; 
  text-align: center;
}


button {
padding: 10px 20px;
font-size: 16px;
background-color: #550202;
color: #f8f8f8;
border: none;
border-radius: 5px;
cursor: pointer;
}
.container {
width: 100%;
padding: 20px;
box-sizing: border-box;
}
